*{
  background-color: black !important;
}
body {
  font-family: sans-serif;
  max-width: 1280px;
}

.navbar {
  border-radius: 2px;
  margin-bottom: 25px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.gif{
  margin-left: 25%;
  width: auto;
}

h1{
  font-size: 50px;
  text-align: center;
  color: burlywood;
  padding-bottom: 50px;
}

h2{
  font-size: 35px !important;
  padding-top: 15px;
  margin-left: 25px;
 padding-bottom: 45px;
 color: chocolate;
}
h5{
  font-size: 30px !important;
  margin-top: 25px;
  margin-left: 60px;
  color: bisque;
  opacity: 80%;
}
h6{
  font-size: 22px !important;
  margin-left: 70px;
  color: bisque;
  opacity: 80%;
}



p{
  font-size: 22px !important;
  margin-left: 50px;
  margin-right: 25px;
  padding: 10px;
  color: bisque;
  opacity: 80%;
}

audio{
  margin-left: 15%;
  margin-bottom: 5px;
}

.videowrapper{

  padding-right: 10%;
  padding-left: 25%;
  margin-bottom: 25px;
}